@tailwind base;
@tailwind components;
@tailwind utilities;


/* @font-face {
    font-family: "Satoshi-black";
    src: local("GilroyRegular"),
      url("./fonts/OTF/Satoshi-Black.otf") format("opentype");
    font-weight: normal;
  } */